.navbar{
	max-width: 750px;
	margin: 40px auto;
	font-size: 15px;
}

.navbar-brand{
	margin: 25px 0px 0px 0px !important;
	padding: 0px 0px 0px 0px !important;
	font-size: 30px !important;
}
.navbar-brand:hover{
	color:  #B0C4DE;
}
.navbar-text{
	color:#444;
	font-family: Palatino;
	font-weight:bold;
/*line-height: 1.4; */
}

.navbar-text-menuitems{
	margin: 10px 0px 0px 0px !important;
}

.navbar-form{
	padding: 0px 25px 0px 0px !important;
}

.icon-bar
{
	display:block;
	margin: 5px 0px 0px 0px !important;
	width:22px;
	height:2px;
	border-radius:1px;
	border:2px solid #444;
}

body { 
	padding-top: 65px;
}