<div class="container">

	<ul class="pager">
	  <li><a href="#">Previous</a></li>
	  <li><a href="#">Next</a></li>
	</ul>

	<ul class="misc-list">
		<li class="misc-entry">
			<a href="/misc" class="misc-entry-link">
				<div class="misc-entry-container">
					<h3 class="misc-entry-title misc-entry-element">misc 1</h3>
					<h4 class="misc-entry-category misc-entry-element">Category</h4>
					<div class="misc-entry-content misc-entry-element">content</div>
<!-- 					<p class="misc-entry-read">Read</p>-->				
				</div>
			</a>
			<hr/>
		</li>

		<li class="misc-entry">
			<a href="/misc" class="misc-entry-link">
				<div class="misc-entry-container">
					<h3 class="misc-entry-title misc-entry-element">misc 1</h3>
					<h4 class="misc-entry-category misc-entry-element">Category</h4>
					<div class="misc-entry-content misc-entry-element">content</div>
				</div>
			</a>

			<hr/>
		</li>

		<li class="misc-entry">
			<a href="/misc" class="misc-entry-link">
				<div class="misc-entry-container">
					<h3 class="misc-entry-title misc-entry-element">misc 1</h3>
					<h4 class="misc-entry-category misc-entry-element">Category</h4>
					<div class="misc-entry-content misc-entry-element">content</div>
				</div>
			</a>

			<hr/>
		</li>
	</ul>

	<ul class="pager">
	  <li><a href="#">Previous</a></li>
	  <li><a href="#">Next</a></li>
	</ul>
	
</div>