<div class="container">
	<div class="about-content">
		<h3>About</h3>
		<p>
			<br/>This website is a portfolio of my work and thoughts. Here, you'll find my thoughts composed in the blog, my mobile applications, a list of massaged data sets, and miscellaneous programming projects.<br/>

			<br/>During the day, I work at JPMorgan as a Technical Analyst. At night, I blog and play the guitar. I specialize in security and mobile applications. Some of my research is comprised of data scrapping, machine learning, and cloud computing. If you read my blog, you'll probably realize that I am an avid reader of Quora and the Bible.<br/>

			<br/>Please, feel free to browse through my website, and if you have any questions or concerns, I insist that you contact me.<br/>

		</p>

		<h3>Facts</h3>
		<br/>
		<ul class="list-group">
			<li class="list-group-item">Blogs
				<span class="badge">121</span>
			</li>
			<li class="list-group-item">Mobile Apps
				<span class="badge">12</span>
			</li>
			<li class="list-group-item">Data Sets
				<span class="badge">9</span>
			</li>
			<li class="list-group-item">Misc Projects
				<span class="badge">5</span>
			</li>
		</ul>
	</div>
	<div class="about-img">
		<img class="about-hello" src="/static/helloworld.png" />
		<img class="img-circle img-responseive" src="/static/profile.jpg"/>
		<p class="about-quote"><br/>We make a living by what we get, but we make a life by what we give. <br/>~~Winston Churchill~~<br/><br/></p>
	</div>
</div>