.blog-entry{
	list-style: none;
}

.blog-entry-link{
	text-decoration: none;
	color: black;
}

.blog-entry-container{
	width: 100%;
	margin: 0px 0px 0px 0px;
	padding: 10px 10px 10px 10px;
	display: table;
	border-radius:10px;
}

.blog-entry-element{
	/*display:table-row;
	vertical-align: middle;
	margin-top:10px;
	margin-bottom: 10px;*/
	color: #444;
}

.blog-entry-title{
	margin-top: 10px !important;
	font-weight: bold;
}

.blog-entry-category{
	margin-top: 20px;
}

.blog-entry-content{
	margin-top:30px;
	margin-bottom: 20px;
}

.blog-entry-container:hover{
	background-color: #f1f1f1;
	cursor:pointer;
}
/*
.blog-entry-link:hover .blog-entry-read{
	display: block;
}*/

.blog-list{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

hr{
	border-color:#999;
}

/*.blog-entry-read{
	position: absolute;
	display: none;
	text-align: center;
}*/