<div class="container">

	<ul class="pager">
	  <li><a href="#">Previous</a></li>
	  <li><a href="#">Next</a></li>
	</ul>

	<ul class="blog-list">
		<li class="blog-entry">
			<a href="/blog" class="blog-entry-link">
				<div class="blog-entry-container">
					<h3 class="blog-entry-title blog-entry-element">Blog 1</h3>
					<h4 class="blog-entry-category blog-entry-element">Category</h4>
					<div class="blog-entry-content blog-entry-element">content</div>
<!-- 					<p class="blog-entry-read">Read</p>-->				
				</div>
			</a>
			<hr/>
		</li>

		<li class="blog-entry">
			<a href="/blog" class="blog-entry-link">
				<div class="blog-entry-container">
					<h3 class="blog-entry-title blog-entry-element">Blog 1</h3>
					<h4 class="blog-entry-category blog-entry-element">Category</h4>
					<div class="blog-entry-content blog-entry-element">content</div>
				</div>
			</a>

			<hr/>
		</li>

		<li class="blog-entry">
			<a href="/blog" class="blog-entry-link">
				<div class="blog-entry-container">
					<h3 class="blog-entry-title blog-entry-element">Blog 1</h3>
					<h4 class="blog-entry-category blog-entry-element">Category</h4>
					<div class="blog-entry-content blog-entry-element">content</div>
				</div>
			</a>

			<hr/>
		</li>
	</ul>

	<ul class="pager">
	  <li><a href="#">Previous</a></li>
	  <li><a href="#">Next</a></li>
	</ul>
</div>