<div class="container">

	<ul class="pager">
	  <li><a href="#">Previous</a></li>
	  <li><a href="#">Next</a></li>
	</ul>

	<ul class="data-list">
		<li class="data-entry">
			<a href="/data" class="data-entry-link">
				<div class="data-entry-container">
					<h3 class="data-entry-title data-entry-element">data 1</h3>
					<h4 class="data-entry-category data-entry-element">Category</h4>
					<div class="data-entry-content data-entry-element">content</div>
<!-- 					<p class="data-entry-read">Read</p>-->				
				</div>
			</a>
			<hr/>
		</li>

		<li class="data-entry">
			<a href="/data" class="data-entry-link">
				<div class="data-entry-container">
					<h3 class="data-entry-title data-entry-element">data 1</h3>
					<h4 class="data-entry-category data-entry-element">Category</h4>
					<div class="data-entry-content data-entry-element">content</div>
				</div>
			</a>

			<hr/>
		</li>

		<li class="data-entry">
			<a href="/data" class="data-entry-link">
				<div class="data-entry-container">
					<h3 class="data-entry-title data-entry-element">data 1</h3>
					<h4 class="data-entry-category data-entry-element">Category</h4>
					<div class="data-entry-content data-entry-element">content</div>
				</div>
			</a>

			<hr/>
		</li>
	</ul>

	<ul class="pager">
	  <li><a href="#">Previous</a></li>
	  <li><a href="#">Next</a></li>
	</ul>
	
</div>